@import 'tailwindcss';
@import './fonts/stylesheet.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Ruberoid', sans-serif;
  background-image: url('/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Кастомізація скролбару для Webkit-браузерів (Chrome, Edge, Safari)
   Це найпопулярніший спосіб кастомізації
*/
::-webkit-scrollbar {
  width: 6px; /* Ширина скролбару */
  height: 6px; /* Висота для горизонтального скролбару */
}

::-webkit-scrollbar-track {
  background: #1a1a1a; /* Колір фону скролбару, відповідає основному фону */
  border-radius: 5px; /* Заокруглення кутів треку */
}

::-webkit-scrollbar-thumb {
  background: #9c9c9c; /* Колір повзунка, відповідає кольору кнопок */
  border-radius: 5px; /* Заокруглення кутів повзунка */
  border: 1px solid #333; /* Невеликий темний бордюр для відділення */
}

/* Колір повзунка при наведенні */
::-webkit-scrollbar-thumb:hover {
  background: #b5b5b5; /* Трохи темніший відтінок при наведенні, як на кнопках */
}

/* Кастомізація скролбару для Firefox (нові стандарти)
   Це буде працювати лише у Firefox
*/
body,
html {
  /* Застосовуємо ці властивості до всього тіла, щоб кастомізувати основний скролбар */
  scrollbar-width: thin; /* 'auto' | 'thin' | 'none' */
  scrollbar-color: #9c9c9c #1a1a1a; /* Колір повзунка (thumb) Колір треку (track) */
}
